*{
    box-sizing: border-box;
}
html, body{
    height: 100%;
}
.container{
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}
.heart{
    transform: rotate(45deg);
    
}
.heart div{
    background-color: red;
    width: 100px;
    height: 100px;
    animation: heart 2s ease-in   infinite  alternate  0s  forwards ;
}
.heart div:first-child{
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    animation: heart 2s ease-in   infinite  alternate  0s  forwards ;
}
.heart div:last-child{
    position: relative;
    left: -100px;
    top: -100px;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
   /* animation: heart 2s ease-in   infinite  alternate  0s  forwards ;*/
}
.heart div:hover{
    transform: scale(2.1);
    transition-duration: 2s;
    
}
/*
@keyframes heart {
    0%{
        scale: 0;
    }
    25%{
      scale: 2.5;
    }
    50%{
scale: 4.8;
    }
    100%{
scale: 5.1;
    }
}*/